body {
    overflow:hidden;
    background: #E7E7E7;
    position:relative;
    width:100%;
    padding-bottom:65px;
}

#header {
    width:100%;
}
.white-box {
    background:white;
    padding:20px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow: 1px 1px 1px #DDD;
}
span.headline {
    height:auto;
    margin-top:20px;
    padding:10px!important;
}
.navbar {
    min-height:35px;
    margin-bottom:0px;
    line-height:33px;
    background:3b5998;
}
.navbar ul li > a {
    line-height:33px;
}
.navbar ul li .dropdown {
    max-width:150px;
}
.navbar li .dropdown ul > li a {
    line-height:33px;
    color:black;
}
.gumby-no-touch .navbar li .dropdown ul li a:hover {
}
nav#navbar-main-nav {
    height:48px;
    a {
        color:white;
        font-size:1em;
        font-weight:bolder;
        line-height:48px;
        height:35px;


        &:hover {
          background:none;
        }
    }

    ul {
        height:35px;
        form {
          margin:0;
          padding-bottom:0;
          input {
            padding:3px;
            font-size:0.8rem;
            margin:10px 10px 0 0;
            width: 160px;
            height:26px;
            line-height:26px;
          }

        }
        li {
            height:20px;
            line-height:0;
            i {
                line-height:0;
            }
        }
        li.persist {
          span {
            top:17px;
            left:-38px;
          }
          i {
            line-height:1;
          }
          p {
            padding-left:25px;
          }
        }
    }
    .btn {
      border:none;
      width:60px;
      height:25px;th:60px;
      color:white;
      border-radius:3px;
    }
    #main-logo {
        font-weight:bold;
        white-space:nowrap;
    }
    ul#main-menu {
        float: right;
        #user-menu-item {
            min-width:150px;
            text-align:right;
            ul {
                li {
                    text-align:left;
                }
            }
        }
    }
}
#content {
    overflow-y:scroll;
    overflow-x:hidden;
    background:#f5f5f5;
    height:100%;
    bottom:35px;
    padding-top:20px;
    padding-bottom:35px;
    margin-bottom:35px;
    top:35px;
    #postsCon {
      .post {
        margin-bottom:20px;
        background: #f0f1f4;
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
        border-bottom-left-radius:3px;
        box-shadow: 1px 1px 1px #DDD;
        .header {
          color:#3b5998;
          padding:10px 10px 0 10px;
          font-weight:bold;
          font-size:14px;
        }
        .body {
          color: #272727;
          padding:10px;
          font-size:13px;
        }
        .comments {
          border-top:1px solid #e1e7ed;
          padding:10px;
          background: #f2f3f6;
          .comment {
            color: #7a7d80;
            font-size:12px;
            .username {
              color: #4d74c5;
            }
          }
          .comment:not(:first-child)  {
            border-top:1px solid #dde1e8;
          }
          .new {
            font-size:12px;
            form {
              margin:0;
            }
            .field {
              margin:0;
            }
            input {
              font-size:12px;
              padding:5px;
              height:30px;
              line-height: 18px;
            }
            .btn {
              line-height:24px;
              height:29px;
              margin-top:2px;
            }
          }
        }
      }
    }
}



#footer {
    border-top:1px solid #cfcfcf;
    background:#E7E7E7;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
    max-height:35px;
    p {
        font-size:0.7em;
        color:#666;
        height:35px;
        padding-bottom:5px;
        text-align:center;
    }
}


